language: node_js

node_js:
  - "10"

sudo: required

branches:
  only:
    - master

script:
  - npm install --prefix web
  - npm run --prefix web compile

deploy:
  provider: s3
  access_key_id: $ACCESSKEYID
  secret_access_key: $SECRETACCESSKEY
  bucket: "koji-test"
  region: "us-west-2"
  skip_cleanup: true
  local-dir: "web/dist"
  upload-dir: "sdk/v1"

notifications:
  slack: gometa:iQkwpjzAdA8H07TsqqzoFmRM
  webhooks:
    urls:
      - https://rest.api.gokoji.com/v1/hooks/docs/rebuild
